body{
    margin: 0px;

}
.navi ul{
    list-style-type: none;
    background-color: rgb(135, 100, 69);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navi a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navi a:hover, .navi a.active{
    background-color: rgb(202, 150, 92);
}
.navi li{
    float: right;
}

